[Unit]
Description=WSGI-RECEIPT
After=network.target

[Service]
Type=simple
User=cut_pdf
Group=nginx
WorkingDirectory=/home/cut_pdf/RECEIPT
ExecStart=/home/cut_pdf/RECEIPT/venv/bin/gunicorn

[Install]
WantedBy=multi-user.target

